@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
.navbar-brand {
    font-family: 'Fruktur', cursive;
}


/* Footer Part */
.fab {
    width: 32px;
    height: 32px;
    background-color: #969BAB;
    margin-right: 14px;
    border-radius: 21px;
    font-size: 20px;
    
    color: #fff;
}

.footer p{
    color: white;
}